**/target/
*.class
*.jar
*.war
*.ear

CW1/output.txt
*.log
*.tmp

.vscode/
.vs/
.idea/
*.iml
*.suo
*.user

pom.xml.tag
pom.xml.releaseBackup
release.properties
dependency-reduced-pom.xml

Thumbs.db
desktop.ini
